<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/springEx_2_Di_Calculation/src/main/java/com/javalec/ex/Mainclass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.javalec.ex.Mainclass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="springEx_2_Di_Calculation"/>
</launchConfiguration>
